/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$breadcrumb_next_name = 'breadcrumb-next';
$breadcrumb_next_x = 491px;
$breadcrumb_next_y = 102px;
$breadcrumb_next_offset_x = -491px;
$breadcrumb_next_offset_y = -102px;
$breadcrumb_next_width = 9px;
$breadcrumb_next_height = 12px;
$breadcrumb_next_total_width = 500px;
$breadcrumb_next_total_height = 485px;
$breadcrumb_next_image = 'img/spritesheet.png';
$breadcrumb_next = 491px 102px -491px -102px 9px 12px 500px 485px 'img/spritesheet.png' 'breadcrumb-next';
$cond_24_name = 'cond-24';
$cond_24_x = 287px;
$cond_24_y = 231px;
$cond_24_offset_x = -287px;
$cond_24_offset_y = -231px;
$cond_24_width = 70px;
$cond_24_height = 70px;
$cond_24_total_width = 500px;
$cond_24_total_height = 485px;
$cond_24_image = 'img/spritesheet.png';
$cond_24 = 287px 231px -287px -231px 70px 70px 500px 485px 'img/spritesheet.png' 'cond-24';
$cond_auto_name = 'cond-auto';
$cond_auto_x = 219px;
$cond_auto_y = 142px;
$cond_auto_offset_x = -219px;
$cond_auto_offset_y = -142px;
$cond_auto_width = 81px;
$cond_auto_height = 48px;
$cond_auto_total_width = 500px;
$cond_auto_total_height = 485px;
$cond_auto_image = 'img/spritesheet.png';
$cond_auto = 219px 142px -219px -142px 81px 48px 500px 485px 'img/spritesheet.png' 'cond-auto';
$cond_calendar_name = 'cond-calendar';
$cond_calendar_x = 53px;
$cond_calendar_y = 384px;
$cond_calendar_offset_x = -53px;
$cond_calendar_offset_y = -384px;
$cond_calendar_width = 64px;
$cond_calendar_height = 52px;
$cond_calendar_total_width = 500px;
$cond_calendar_total_height = 485px;
$cond_calendar_image = 'img/spritesheet.png';
$cond_calendar = 53px 384px -53px -384px 64px 52px 500px 485px 'img/spritesheet.png' 'cond-calendar';
$cond_clock_name = 'cond-clock';
$cond_clock_x = 0px;
$cond_clock_y = 314px;
$cond_clock_offset_x = 0px;
$cond_clock_offset_y = -314px;
$cond_clock_width = 68px;
$cond_clock_height = 68px;
$cond_clock_total_width = 500px;
$cond_clock_total_height = 485px;
$cond_clock_image = 'img/spritesheet.png';
$cond_clock = 0px 314px 0px -314px 68px 68px 500px 485px 'img/spritesheet.png' 'cond-clock';
$cond_jur_name = 'cond-jur';
$cond_jur_x = 429px;
$cond_jur_y = 231px;
$cond_jur_offset_x = -429px;
$cond_jur_offset_y = -231px;
$cond_jur_width = 68px;
$cond_jur_height = 68px;
$cond_jur_total_width = 500px;
$cond_jur_total_height = 485px;
$cond_jur_image = 'img/spritesheet.png';
$cond_jur = 429px 231px -429px -231px 68px 68px 500px 485px 'img/spritesheet.png' 'cond-jur';
$cond_sale_name = 'cond-sale';
$cond_sale_x = 70px;
$cond_sale_y = 314px;
$cond_sale_offset_x = -70px;
$cond_sale_offset_y = -314px;
$cond_sale_width = 61px;
$cond_sale_height = 68px;
$cond_sale_total_width = 500px;
$cond_sale_total_height = 485px;
$cond_sale_image = 'img/spritesheet.png';
$cond_sale = 70px 314px -70px -314px 61px 68px 500px 485px 'img/spritesheet.png' 'cond-sale';
$cond_serv_name = 'cond-serv';
$cond_serv_x = 359px;
$cond_serv_y = 231px;
$cond_serv_offset_x = -359px;
$cond_serv_offset_y = -231px;
$cond_serv_width = 68px;
$cond_serv_height = 68px;
$cond_serv_total_width = 500px;
$cond_serv_total_height = 485px;
$cond_serv_image = 'img/spritesheet.png';
$cond_serv = 359px 231px -359px -231px 68px 68px 500px 485px 'img/spritesheet.png' 'cond-serv';
$cond_snow_name = 'cond-snow';
$cond_snow_x = 0px;
$cond_snow_y = 384px;
$cond_snow_offset_x = 0px;
$cond_snow_offset_y = -384px;
$cond_snow_width = 51px;
$cond_snow_height = 66px;
$cond_snow_total_width = 500px;
$cond_snow_total_height = 485px;
$cond_snow_image = 'img/spritesheet.png';
$cond_snow = 0px 384px 0px -384px 51px 66px 500px 485px 'img/spritesheet.png' 'cond-snow';
$district_close_name = 'district-close';
$district_close_x = 491px;
$district_close_y = 116px;
$district_close_offset_x = -491px;
$district_close_offset_y = -116px;
$district_close_width = 6px;
$district_close_height = 6px;
$district_close_total_width = 500px;
$district_close_total_height = 485px;
$district_close_image = 'img/spritesheet.png';
$district_close = 491px 116px -491px -116px 6px 6px 500px 485px 'img/spritesheet.png' 'district-close';
$download_icon_name = 'download-icon';
$download_icon_x = 482px;
$download_icon_y = 159px;
$download_icon_offset_x = -482px;
$download_icon_offset_y = -159px;
$download_icon_width = 13px;
$download_icon_height = 15px;
$download_icon_total_width = 500px;
$download_icon_total_height = 485px;
$download_icon_image = 'img/spritesheet.png';
$download_icon = 482px 159px -482px -159px 13px 15px 500px 485px 'img/spritesheet.png' 'download-icon';
$eng_ver_icon_name = 'eng-ver-icon';
$eng_ver_icon_x = 180px;
$eng_ver_icon_y = 202px;
$eng_ver_icon_offset_x = -180px;
$eng_ver_icon_offset_y = -202px;
$eng_ver_icon_width = 19px;
$eng_ver_icon_height = 12px;
$eng_ver_icon_total_width = 500px;
$eng_ver_icon_total_height = 485px;
$eng_ver_icon_image = 'img/spritesheet.png';
$eng_ver_icon = 180px 202px -180px -202px 19px 12px 500px 485px 'img/spritesheet.png' 'eng-ver-icon';
$fb_logo_f_name = 'fb-logo-f';
$fb_logo_f_x = 379px;
$fb_logo_f_y = 384px;
$fb_logo_f_offset_x = -379px;
$fb_logo_f_offset_y = -384px;
$fb_logo_f_width = 32px;
$fb_logo_f_height = 33px;
$fb_logo_f_total_width = 500px;
$fb_logo_f_total_height = 485px;
$fb_logo_f_image = 'img/spritesheet.png';
$fb_logo_f = 379px 384px -379px -384px 32px 33px 500px 485px 'img/spritesheet.png' 'fb-logo-f';
$fb_logo_hover_name = 'fb-logo-hover';
$fb_logo_hover_x = 345px;
$fb_logo_hover_y = 384px;
$fb_logo_hover_offset_x = -345px;
$fb_logo_hover_offset_y = -384px;
$fb_logo_hover_width = 32px;
$fb_logo_hover_height = 33px;
$fb_logo_hover_total_width = 500px;
$fb_logo_hover_total_height = 485px;
$fb_logo_hover_image = 'img/spritesheet.png';
$fb_logo_hover = 345px 384px -345px -384px 32px 33px 500px 485px 'img/spritesheet.png' 'fb-logo-hover';
$fb_logo_name = 'fb-logo';
$fb_logo_x = 457px;
$fb_logo_y = 102px;
$fb_logo_offset_x = -457px;
$fb_logo_offset_y = -102px;
$fb_logo_width = 32px;
$fb_logo_height = 33px;
$fb_logo_total_width = 500px;
$fb_logo_total_height = 485px;
$fb_logo_image = 'img/spritesheet.png';
$fb_logo = 457px 102px -457px -102px 32px 33px 500px 485px 'img/spritesheet.png' 'fb-logo';
$google_logo_f_name = 'google-logo-f';
$google_logo_f_x = 277px;
$google_logo_f_y = 384px;
$google_logo_f_offset_x = -277px;
$google_logo_f_offset_y = -384px;
$google_logo_f_width = 32px;
$google_logo_f_height = 33px;
$google_logo_f_total_width = 500px;
$google_logo_f_total_height = 485px;
$google_logo_f_image = 'img/spritesheet.png';
$google_logo_f = 277px 384px -277px -384px 32px 33px 500px 485px 'img/spritesheet.png' 'google-logo-f';
$google_logo_hover_name = 'google-logo-hover';
$google_logo_hover_x = 243px;
$google_logo_hover_y = 384px;
$google_logo_hover_offset_x = -243px;
$google_logo_hover_offset_y = -384px;
$google_logo_hover_width = 32px;
$google_logo_hover_height = 33px;
$google_logo_hover_total_width = 500px;
$google_logo_hover_total_height = 485px;
$google_logo_hover_image = 'img/spritesheet.png';
$google_logo_hover = 243px 384px -243px -384px 32px 33px 500px 485px 'img/spritesheet.png' 'google-logo-hover';
$google_logo_name = 'google-logo';
$google_logo_x = 209px;
$google_logo_y = 384px;
$google_logo_offset_x = -209px;
$google_logo_offset_y = -384px;
$google_logo_width = 32px;
$google_logo_height = 33px;
$google_logo_total_width = 500px;
$google_logo_total_height = 485px;
$google_logo_image = 'img/spritesheet.png';
$google_logo = 209px 384px -209px -384px 32px 33px 500px 485px 'img/spritesheet.png' 'google-logo';
$header_logo_main_name = 'header-logo-main';
$header_logo_main_x = 133px;
$header_logo_main_y = 314px;
$header_logo_main_offset_x = -133px;
$header_logo_main_offset_y = -314px;
$header_logo_main_width = 70px;
$header_logo_main_height = 54px;
$header_logo_main_total_width = 500px;
$header_logo_main_total_height = 485px;
$header_logo_main_image = 'img/spritesheet.png';
$header_logo_main = 133px 314px -133px -314px 70px 54px 500px 485px 'img/spritesheet.png' 'header-logo-main';
$header_logo_small_name = 'header-logo-small';
$header_logo_small_x = 457px;
$header_logo_small_y = 71px;
$header_logo_small_offset_x = -457px;
$header_logo_small_offset_y = -71px;
$header_logo_small_width = 42px;
$header_logo_small_height = 29px;
$header_logo_small_total_width = 500px;
$header_logo_small_total_height = 485px;
$header_logo_small_image = 'img/spritesheet.png';
$header_logo_small = 457px 71px -457px -71px 42px 29px 500px 485px 'img/spritesheet.png' 'header-logo-small';
$inst_logo_f_name = 'inst-logo-f';
$inst_logo_f_x = 175px;
$inst_logo_f_y = 384px;
$inst_logo_f_offset_x = -175px;
$inst_logo_f_offset_y = -384px;
$inst_logo_f_width = 32px;
$inst_logo_f_height = 33px;
$inst_logo_f_total_width = 500px;
$inst_logo_f_total_height = 485px;
$inst_logo_f_image = 'img/spritesheet.png';
$inst_logo_f = 175px 384px -175px -384px 32px 33px 500px 485px 'img/spritesheet.png' 'inst-logo-f';
$inst_logo_hover_name = 'inst-logo-hover';
$inst_logo_hover_x = 311px;
$inst_logo_hover_y = 384px;
$inst_logo_hover_offset_x = -311px;
$inst_logo_hover_offset_y = -384px;
$inst_logo_hover_width = 32px;
$inst_logo_hover_height = 33px;
$inst_logo_hover_total_width = 500px;
$inst_logo_hover_total_height = 485px;
$inst_logo_hover_image = 'img/spritesheet.png';
$inst_logo_hover = 311px 384px -311px -384px 32px 33px 500px 485px 'img/spritesheet.png' 'inst-logo-hover';
$inst_logo_name = 'inst-logo';
$inst_logo_x = 448px;
$inst_logo_y = 142px;
$inst_logo_offset_x = -448px;
$inst_logo_offset_y = -142px;
$inst_logo_width = 32px;
$inst_logo_height = 33px;
$inst_logo_total_width = 500px;
$inst_logo_total_height = 485px;
$inst_logo_image = 'img/spritesheet.png';
$inst_logo = 448px 142px -448px -142px 32px 33px 500px 485px 'img/spritesheet.png' 'inst-logo';
$mail_to_icon_hover_name = 'mail-to-icon-hover';
$mail_to_icon_hover_x = 222px;
$mail_to_icon_hover_y = 202px;
$mail_to_icon_hover_offset_x = -222px;
$mail_to_icon_hover_offset_y = -202px;
$mail_to_icon_hover_width = 19px;
$mail_to_icon_hover_height = 12px;
$mail_to_icon_hover_total_width = 500px;
$mail_to_icon_hover_total_height = 485px;
$mail_to_icon_hover_image = 'img/spritesheet.png';
$mail_to_icon_hover = 222px 202px -222px -202px 19px 12px 500px 485px 'img/spritesheet.png' 'mail-to-icon-hover';
$mail_to_icon_name = 'mail-to-icon';
$mail_to_icon_x = 201px;
$mail_to_icon_y = 202px;
$mail_to_icon_offset_x = -201px;
$mail_to_icon_offset_y = -202px;
$mail_to_icon_width = 19px;
$mail_to_icon_height = 12px;
$mail_to_icon_total_width = 500px;
$mail_to_icon_total_height = 485px;
$mail_to_icon_image = 'img/spritesheet.png';
$mail_to_icon = 201px 202px -201px -202px 19px 12px 500px 485px 'img/spritesheet.png' 'mail-to-icon';
$mouse_icon_hover_name = 'mouse-icon-hover';
$mouse_icon_hover_x = 34px;
$mouse_icon_hover_y = 452px;
$mouse_icon_hover_offset_x = -34px;
$mouse_icon_hover_offset_y = -452px;
$mouse_icon_hover_width = 21px;
$mouse_icon_hover_height = 32px;
$mouse_icon_hover_total_width = 500px;
$mouse_icon_hover_total_height = 485px;
$mouse_icon_hover_image = 'img/spritesheet.png';
$mouse_icon_hover = 34px 452px -34px -452px 21px 32px 500px 485px 'img/spritesheet.png' 'mouse-icon-hover';
$mouse_icon_name = 'mouse-icon';
$mouse_icon_x = 57px;
$mouse_icon_y = 452px;
$mouse_icon_offset_x = -57px;
$mouse_icon_offset_y = -452px;
$mouse_icon_width = 21px;
$mouse_icon_height = 32px;
$mouse_icon_total_width = 500px;
$mouse_icon_total_height = 485px;
$mouse_icon_image = 'img/spritesheet.png';
$mouse_icon = 57px 452px -57px -452px 21px 32px 500px 485px 'img/spritesheet.png' 'mouse-icon';
$popup_close_hover_name = 'popup-close-hover';
$popup_close_hover_x = 113px;
$popup_close_hover_y = 202px;
$popup_close_hover_offset_x = -113px;
$popup_close_hover_offset_y = -202px;
$popup_close_hover_width = 22px;
$popup_close_hover_height = 21px;
$popup_close_hover_total_width = 500px;
$popup_close_hover_total_height = 485px;
$popup_close_hover_image = 'img/spritesheet.png';
$popup_close_hover = 113px 202px -113px -202px 22px 21px 500px 485px 'img/spritesheet.png' 'popup-close-hover';
$popup_close_name = 'popup-close';
$popup_close_x = 89px;
$popup_close_y = 202px;
$popup_close_offset_x = -89px;
$popup_close_offset_y = -202px;
$popup_close_width = 22px;
$popup_close_height = 21px;
$popup_close_total_width = 500px;
$popup_close_total_height = 485px;
$popup_close_image = 'img/spritesheet.png';
$popup_close = 89px 202px -89px -202px 22px 21px 500px 485px 'img/spritesheet.png' 'popup-close';
$popup_success_name = 'popup-success';
$popup_success_x = 0px;
$popup_success_y = 71px;
$popup_success_offset_x = 0px;
$popup_success_offset_y = -71px;
$popup_success_width = 455px;
$popup_success_height = 69px;
$popup_success_total_width = 500px;
$popup_success_total_height = 485px;
$popup_success_image = 'img/spritesheet.png';
$popup_success = 0px 71px 0px -71px 455px 69px 500px 485px 'img/spritesheet.png' 'popup-success';
$read_more_name = 'read-more';
$read_more_x = 159px;
$read_more_y = 202px;
$read_more_offset_x = -159px;
$read_more_offset_y = -202px;
$read_more_width = 19px;
$read_more_height = 17px;
$read_more_total_width = 500px;
$read_more_total_height = 485px;
$read_more_image = 'img/spritesheet.png';
$read_more = 159px 202px -159px -202px 19px 17px 500px 485px 'img/spritesheet.png' 'read-more';
$rouble_sign_name = 'rouble-sign';
$rouble_sign_x = 351px;
$rouble_sign_y = 350px;
$rouble_sign_offset_x = -351px;
$rouble_sign_offset_y = -350px;
$rouble_sign_width = 13px;
$rouble_sign_height = 13px;
$rouble_sign_total_width = 500px;
$rouble_sign_total_height = 485px;
$rouble_sign_image = 'img/spritesheet.png';
$rouble_sign = 351px 350px -351px -350px 13px 13px 500px 485px 'img/spritesheet.png' 'rouble-sign';
$sec_buh_name = 'sec-buh';
$sec_buh_x = 158px;
$sec_buh_y = 231px;
$sec_buh_offset_x = -158px;
$sec_buh_offset_y = -231px;
$sec_buh_width = 64px;
$sec_buh_height = 81px;
$sec_buh_total_width = 500px;
$sec_buh_total_height = 485px;
$sec_buh_image = 'img/spritesheet.png';
$sec_buh = 158px 231px -158px -231px 64px 81px 500px 485px 'img/spritesheet.png' 'sec-buh';
$sec_gra_name = 'sec-gra';
$sec_gra_x = 0px;
$sec_gra_y = 142px;
$sec_gra_offset_x = 0px;
$sec_gra_offset_y = -142px;
$sec_gra_width = 87px;
$sec_gra_height = 87px;
$sec_gra_total_width = 500px;
$sec_gra_total_height = 485px;
$sec_gra_image = 'img/spritesheet.png';
$sec_gra = 0px 142px 0px -142px 87px 87px 500px 485px 'img/spritesheet.png' 'sec-gra';
$sec_lic_name = 'sec-lic';
$sec_lic_x = 224px;
$sec_lic_y = 231px;
$sec_lic_offset_x = -224px;
$sec_lic_offset_y = -231px;
$sec_lic_width = 61px;
$sec_lic_height = 81px;
$sec_lic_total_width = 500px;
$sec_lic_total_height = 485px;
$sec_lic_image = 'img/spritesheet.png';
$sec_lic = 224px 231px -224px -231px 61px 81px 500px 485px 'img/spritesheet.png' 'sec-lic';
$sec_pro_name = 'sec-pro';
$sec_pro_x = 0px;
$sec_pro_y = 231px;
$sec_pro_offset_x = 0px;
$sec_pro_offset_y = -231px;
$sec_pro_width = 84px;
$sec_pro_height = 81px;
$sec_pro_total_width = 500px;
$sec_pro_total_height = 485px;
$sec_pro_image = 'img/spritesheet.png';
$sec_pro = 0px 231px 0px -231px 84px 81px 500px 485px 'img/spritesheet.png' 'sec-pro';
$sec_tal_name = 'sec-tal';
$sec_tal_x = 86px;
$sec_tal_y = 231px;
$sec_tal_offset_x = -86px;
$sec_tal_offset_y = -231px;
$sec_tal_width = 70px;
$sec_tal_height = 81px;
$sec_tal_total_width = 500px;
$sec_tal_total_height = 485px;
$sec_tal_image = 'img/spritesheet.png';
$sec_tal = 86px 231px -86px -231px 70px 81px 500px 485px 'img/spritesheet.png' 'sec-tal';
$sec_vod_name = 'sec-vod';
$sec_vod_x = 89px;
$sec_vod_y = 142px;
$sec_vod_offset_x = -89px;
$sec_vod_offset_y = -142px;
$sec_vod_width = 128px;
$sec_vod_height = 58px;
$sec_vod_total_width = 500px;
$sec_vod_total_height = 485px;
$sec_vod_image = 'img/spritesheet.png';
$sec_vod = 89px 142px -89px -142px 128px 58px 500px 485px 'img/spritesheet.png' 'sec-vod';
$step_trash_close_name = 'step-trash-close';
$step_trash_close_x = 137px;
$step_trash_close_y = 202px;
$step_trash_close_offset_x = -137px;
$step_trash_close_offset_y = -202px;
$step_trash_close_width = 20px;
$step_trash_close_height = 20px;
$step_trash_close_total_width = 500px;
$step_trash_close_total_height = 485px;
$step_trash_close_image = 'img/spritesheet.png';
$step_trash_close = 137px 202px -137px -202px 20px 20px 500px 485px 'img/spritesheet.png' 'step-trash-close';
$step_trash_success_name = 'step-trash-success';
$step_trash_success_x = 119px;
$step_trash_success_y = 384px;
$step_trash_success_offset_x = -119px;
$step_trash_success_offset_y = -384px;
$step_trash_success_width = 54px;
$step_trash_success_height = 44px;
$step_trash_success_total_width = 500px;
$step_trash_success_total_height = 485px;
$step_trash_success_image = 'img/spritesheet.png';
$step_trash_success = 119px 384px -119px -384px 54px 44px 500px 485px 'img/spritesheet.png' 'step-trash-success';
$submenu_close_name = 'submenu-close';
$submenu_close_x = 482px;
$submenu_close_y = 142px;
$submenu_close_offset_x = -482px;
$submenu_close_offset_y = -142px;
$submenu_close_width = 14px;
$submenu_close_height = 15px;
$submenu_close_total_width = 500px;
$submenu_close_total_height = 485px;
$submenu_close_image = 'img/spritesheet.png';
$submenu_close = 482px 142px -482px -142px 14px 15px 500px 485px 'img/spritesheet.png' 'submenu-close';
$thank_you_red_name = 'thank-you-red';
$thank_you_red_x = 0px;
$thank_you_red_y = 0px;
$thank_you_red_offset_x = 0px;
$thank_you_red_offset_y = 0px;
$thank_you_red_width = 500px;
$thank_you_red_height = 69px;
$thank_you_red_total_width = 500px;
$thank_you_red_total_height = 485px;
$thank_you_red_image = 'img/spritesheet.png';
$thank_you_red = 0px 0px 0px 0px 500px 69px 500px 485px 'img/spritesheet.png' 'thank-you-red';
$trash_type_1_name = 'trash-type-1';
$trash_type_1_x = 424px;
$trash_type_1_y = 314px;
$trash_type_1_offset_x = -424px;
$trash_type_1_offset_y = -314px;
$trash_type_1_width = 71px;
$trash_type_1_height = 30px;
$trash_type_1_total_width = 500px;
$trash_type_1_total_height = 485px;
$trash_type_1_image = 'img/spritesheet.png';
$trash_type_1 = 424px 314px -424px -314px 71px 30px 500px 485px 'img/spritesheet.png' 'trash-type-1';
$trash_type_2_name = 'trash-type-2';
$trash_type_2_x = 375px;
$trash_type_2_y = 142px;
$trash_type_2_offset_x = -375px;
$trash_type_2_offset_y = -142px;
$trash_type_2_width = 71px;
$trash_type_2_height = 34px;
$trash_type_2_total_width = 500px;
$trash_type_2_total_height = 485px;
$trash_type_2_image = 'img/spritesheet.png';
$trash_type_2 = 375px 142px -375px -142px 71px 34px 500px 485px 'img/spritesheet.png' 'trash-type-2';
$trash_type_3_name = 'trash-type-3';
$trash_type_3_x = 302px;
$trash_type_3_y = 142px;
$trash_type_3_offset_x = -302px;
$trash_type_3_offset_y = -142px;
$trash_type_3_width = 71px;
$trash_type_3_height = 46px;
$trash_type_3_total_width = 500px;
$trash_type_3_total_height = 485px;
$trash_type_3_image = 'img/spritesheet.png';
$trash_type_3 = 302px 142px -302px -142px 71px 46px 500px 485px 'img/spritesheet.png' 'trash-type-3';
$trash_type_4_name = 'trash-type-4';
$trash_type_4_x = 205px;
$trash_type_4_y = 314px;
$trash_type_4_offset_x = -205px;
$trash_type_4_offset_y = -314px;
$trash_type_4_width = 71px;
$trash_type_4_height = 53px;
$trash_type_4_total_width = 500px;
$trash_type_4_total_height = 485px;
$trash_type_4_image = 'img/spritesheet.png';
$trash_type_4 = 205px 314px -205px -314px 71px 53px 500px 485px 'img/spritesheet.png' 'trash-type-4';
$trash_type_5_name = 'trash-type-5';
$trash_type_5_x = 351px;
$trash_type_5_y = 314px;
$trash_type_5_offset_x = -351px;
$trash_type_5_offset_y = -314px;
$trash_type_5_width = 71px;
$trash_type_5_height = 34px;
$trash_type_5_total_width = 500px;
$trash_type_5_total_height = 485px;
$trash_type_5_image = 'img/spritesheet.png';
$trash_type_5 = 351px 314px -351px -314px 71px 34px 500px 485px 'img/spritesheet.png' 'trash-type-5';
$trash_type_6_name = 'trash-type-6';
$trash_type_6_x = 278px;
$trash_type_6_y = 314px;
$trash_type_6_offset_x = -278px;
$trash_type_6_offset_y = -314px;
$trash_type_6_width = 71px;
$trash_type_6_height = 50px;
$trash_type_6_total_width = 500px;
$trash_type_6_total_height = 485px;
$trash_type_6_image = 'img/spritesheet.png';
$trash_type_6 = 278px 314px -278px -314px 71px 50px 500px 485px 'img/spritesheet.png' 'trash-type-6';
$twitter_logo_f_name = 'twitter-logo-f';
$twitter_logo_f_x = 413px;
$twitter_logo_f_y = 384px;
$twitter_logo_f_offset_x = -413px;
$twitter_logo_f_offset_y = -384px;
$twitter_logo_f_width = 32px;
$twitter_logo_f_height = 33px;
$twitter_logo_f_total_width = 500px;
$twitter_logo_f_total_height = 485px;
$twitter_logo_f_image = 'img/spritesheet.png';
$twitter_logo_f = 413px 384px -413px -384px 32px 33px 500px 485px 'img/spritesheet.png' 'twitter-logo-f';
$twitter_logo_hover_name = 'twitter-logo-hover';
$twitter_logo_hover_x = 447px;
$twitter_logo_hover_y = 384px;
$twitter_logo_hover_offset_x = -447px;
$twitter_logo_hover_offset_y = -384px;
$twitter_logo_hover_width = 32px;
$twitter_logo_hover_height = 33px;
$twitter_logo_hover_total_width = 500px;
$twitter_logo_hover_total_height = 485px;
$twitter_logo_hover_image = 'img/spritesheet.png';
$twitter_logo_hover = 447px 384px -447px -384px 32px 33px 500px 485px 'img/spritesheet.png' 'twitter-logo-hover';
$twitter_logo_name = 'twitter-logo';
$twitter_logo_x = 0px;
$twitter_logo_y = 452px;
$twitter_logo_offset_x = 0px;
$twitter_logo_offset_y = -452px;
$twitter_logo_width = 32px;
$twitter_logo_height = 33px;
$twitter_logo_total_width = 500px;
$twitter_logo_total_height = 485px;
$twitter_logo_image = 'img/spritesheet.png';
$twitter_logo = 0px 452px 0px -452px 32px 33px 500px 485px 'img/spritesheet.png' 'twitter-logo';
$spritesheet_width = 500px;
$spritesheet_height = 485px;
$spritesheet_image = 'img/spritesheet.png';
$spritesheet_sprites = $breadcrumb_next $cond_24 $cond_auto $cond_calendar $cond_clock $cond_jur $cond_sale $cond_serv $cond_snow $district_close $download_icon $eng_ver_icon $fb_logo_f $fb_logo_hover $fb_logo $google_logo_f $google_logo_hover $google_logo $header_logo_main $header_logo_small $inst_logo_f $inst_logo_hover $inst_logo $mail_to_icon_hover $mail_to_icon $mouse_icon_hover $mouse_icon $popup_close_hover $popup_close $popup_success $read_more $rouble_sign $sec_buh $sec_gra $sec_lic $sec_pro $sec_tal $sec_vod $step_trash_close $step_trash_success $submenu_close $thank_you_red $trash_type_1 $trash_type_2 $trash_type_3 $trash_type_4 $trash_type_5 $trash_type_6 $twitter_logo_f $twitter_logo_hover $twitter_logo;
$spritesheet = 500px 485px 'img/spritesheet.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
